.education-main {
    padding: 3rem 0;
    height: 90vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 6rem;
}

.education-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.education-top-header {
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 3rem; */
}

.education-top-header-2 {
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-top-header h1 {
    color: #fff;
    font-size: 2rem;
    font-family: sf-bold;
}

.education-top-header-2 h2 {
    color: #fff;
    font-size: 1.2rem;
    font-family: sf-bold;
    /* padding-top: 3rem; */
}

.education-extra {
    margin-left: 7.5rem;
}

.education-bottom-honors {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 2rem; */
}

.education-bottom-honors img {
    width: 50%;
    height: auto;
    object-fit: contain;
    transition: transform 0.4s ease;
}

.education-bottom-honors h4 {
    font-size: 1.1rem;
    font-family: sf-bold;
    color: #fff;
    width: 50%;
    margin: 1.5rem 0 0.8rem 0;
}

.education-bottom-honors p {
    font-size: 0.8rem;
    font-family: sf-regular;
    color: #c9c9c9;
    margin: 0;
    width: 50%;
}

.education-bottom-honors-left,
.education-bottom-honors-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.4s ease;
}

.education-bottom-honors-left-wrapper,
.education-bottom-honors-right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.education-bottom-honors-left:hover,
.education-bottom-honors-right:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* .education-bottom-honors img:hover {
    transform: scale(1.1115);
    cursor: pointer;
} */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .education-main {
        margin-inline: 3rem;
        height: auto;
    }

    .education-main h1 {
        font-size: 1.5rem;
    }

    .education-top-info {
        height: 32%;
    }

    /* 
    .education-top-header {
        height: auto;
    } */
    .education-top-header-2 h2 {
        padding-top: 3rem;
    }

    .education-extra {
        margin-left: 0;
    }

    .education-top-header h2 {
        padding-top: 0;
    }

    .education-bottom-honors {
        flex-direction: column;
        gap: 3rem;
        padding-top: 1rem;
    }
    .education-bottom-honors img,
    .education-bottom-honors h4,
    .education-bottom-honors p {
        width: 70%;
    }
    .education-bottom-honors h4 {
        font-size: 1rem;
        margin: 1rem 0 0.5rem 0;
    }

    .education-bottom-honors-left,
    .education-bottom-honors-right {
        width: 100%;
        height: 45%;
    }
}