/* src/components/FAQ.css */

.faq-section {
    max-width: 400px;
    margin: 0 auto;
    padding: 1.25rem;
    font-family: sf-regular;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: var(--text--primary);
    font-family: sf-bold;
}
.faq-item p {
    font-size: 0rem;
}
.faq-list {
    border-top: 1px solid var(--bg--tertiary);
}

.faq-item {
    border-bottom: 1px solid var(--bg--tertiary);
    padding: 0.938rem 0;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question h3 {
    margin: 0;
    font-size: 1.125rem;
    color: var(--text--tertiary);
}


.answer {
    display: hi;
    max-height: 0;
    overflow: hidden;
    font-size: 1rem;
    padding: 0;
    color: #555;
    transition: max-height 0.7s ease, padding 0.7s ease;
}

.answer.active {
    max-height: 200px;
    padding: 0.625rem 0;
    font-size: 1rem;
}

.arrow-segment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: var(--bg--quaternary);

}

.arrow-segment-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-normal);
}
.arrow-segment-wrapper.rotate {
    transform: rotate(180deg);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .faq-section h2{
        font-size: 1.2rem;
    }
    .question h3{
        font-size: 1rem;
    }
}  