
.menu-bar {
  height: 8vh;
  /* background-color: var(--bg); */
  display: flex;
  justify-content: space-evenly;
}

.menu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 6rem;
}

.left-menu-bar {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-logo {
  font-family: sf-bold;
  color: var(--text--primary);
  font-size: 1.375rem;
}

.middle-menu-bar {
  font-family: sf-regular;
  color: var(--text--primary);
  font-size: 1.125rem;
  width: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 0.5rem;
}

.middle-menu-bar p {
  padding: 30px 20px;
  transition: var(--transition-normal);
}

.middle-menu-bar p:hover {
  color: var(--color-main--primary);
  transform: scale(1.1);
  cursor: pointer;
  background-color: #f2ffff;
}

.right-menu-bar {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  flex-direction: row;
}
.right-menu-bar a {
  transition: var(--transition-normal);
  display: flex;
}

.right-menu-bar a:hover {
  cursor: pointer;
  transform: scale(1.2);
}


@media only screen and (min-width: 320px) and (max-width: 768px){
  .menu-bar {
    border-radius: 30px;
    top: 1rem;
    position: fixed;
    background-color: var(--bg)61;
    outline: 1px solid var(--text--primary)1c;
    backdrop-filter: blur(10px);
    z-index: 99999999;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
    .menu-wrapper {
    margin-inline: 2rem;
  }

  .left-menu-bar {
    width: 50%;
  }

  .middle-menu-bar {
    display: none;
  }
  .right-menu-bar {
    width: 50%;
  }
}
