.hero-main {
    padding: 1rem 0 3rem 0;
    height: 88vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 6rem;
    /* background-image: url(../../assets/images/hero-image.png);
    background-size: cover;
    background-position: center; */
}
.here-inner-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
}

.hero-left {
    /* background: #ffffff; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: auto;
}

.hero-left h1 {
    font-size: 2.5rem;
    font-family: sf-bold;
    color: #ffffff;
}

.hero-left p {
    font-size: 1.125rem;
    font-family: sf-regular;
    color: #c9c9c9;
    margin: 0rem;
    width: 100%;
}
.hero-left  .here-inner-left p:first-of-type {
    font-size: 1.5rem;
    font-family: sf-bold;
}

.hero-left .btn-download {
    background-color: #79b50f;
    border: none;
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    align-self: start;
    transition: background-color 0.4s ease;
    border-radius: 3px;
}

.btn-download:hover {
    background-color: #699f0c;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.empty-place {
    width: 100%;
    height: 10rem;
}

.hero-left-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-self: flex-end;
}

.hero-left-bottom p {
    font-size: 0.8rem;
    font-family: sf-thin;
    color: #8d8c8c;
    margin: 0rem;
}

.hero-left-bottom :hover {
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.hero-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}



@media only screen and (min-width: 320px) and (max-width: 1024px)  {
    .hero-right {
        z-index: -1;
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        filter: blur(3px);
        filter: contrast(0.6);
        filter: brightness(0.4);
    }
    .here-inner-left{
        justify-content: center;
    }
    .hero-right img {
        object-fit: cover;
    }
    .hero-main {
        margin-inline: 3rem;
    }
    .hero-left{
        width: 100%;
    }
    .hero-left h1 {
        font-size: 2rem;
    }
    .hero-left p {
        font-size: 0.9rem;
    }
    .hero-left .btn-download {
        color: #ffffff;
        padding: 0.7rem 1.4rem;
        font-size: 1rem;
        width: auto;
        transition: background-color 0.4s ease;
        justify-content: space-evenly;
    }
    .hero-left svg{
        scale: 1;
    }
}