.hero-main {
    padding: 0 0 3rem 0;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.hero-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: auto;
    margin-inline: 6rem;
}

.hero-right {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    animation: fadeIn 1.5s ease-in-out;
    filter: brightness(1.9);
}

.here-inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 1.5s ease-in-out;
    height: 100%;
}

.hero-left-top-header {
    margin: 2rem 0 2rem 0;
}

.hero-left-top-header h1 {
    font-size: 4.5rem;
    font-family: sf-bold;
    color: var(--text--primary-invert);
    margin: 1rem 0 0 0;
}

.hero-left-top-header p {
    font-size: 1.5rem;
    font-family: sf-bold;
    color: var(--text--secondary);
    margin: 0;
}

.hero-left h1,
.hero-left p {
    animation: slideInFromTop 1s ease-in-out;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem;
    animation: slideInFromBottom 1s ease-in-out;
}

.btn-wrapper .btn-download-primary {
    background-color: var(--btn--primary);
    border: none;
    color: var(--bg);
    padding: 1.1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.2rem;
    align-self: start;
    transition: var(--transition-normal);
    border-radius: 7px;
    font-family: sf-bold;
    animation: fadeIn 2s ease-in-out;
}

.btn-wrapper .btn-download-secondary {
    background-color: transparent;
    border: none;
    color: var(--white);
    padding: 1.1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.2rem;
    align-self: start;
    transition: var(--transition-normal);
    border-radius: 7px;
    font-family: sf-bold;
    animation: fadeIn 2s ease-in-out;
    outline: 1px solid var(--btn-secondary);
}

.btn-download-primary:hover {
    background-color: var(--btn-primary-hover);
    cursor: pointer;
}

.btn-download-secondary:hover {
    background-color: var(--color-main--tertiary-outline);
    outline: 3px solid var(--text--primary);
    cursor: pointer;
}

/* .hero-left-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-self: flex-end;
    transition: var(--transition-normal);
    animation: fadeIn 2s ease-in-out;
}

.hero-left-bottom p {
    font-size: 0.8rem;
    font-family: sf-thin;
    color: var(--text--quaternary);
    margin: 0rem;
}

.hero-left-bottom :hover {
    color: var(--text--primary);
    cursor: pointer;
} */

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-ticker {
    overflow: hidden;
    padding: 0.5rem 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.hero-ticker-wrap {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.hero-ticker-elements {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 0;
    animation: scroll 15s linear infinite;
    box-sizing: border-box;
    /* gap: 2rem; */
    /* margin-inline: -4rem; */
}

.hero-ticker-elements span {
    box-sizing: border-box;
    font-size: 1.125rem;
    font-family: sf-regular;
    color: var(--text--secondary);
    animation: fadeIn 3s ease-in-out;
}



/* Responsive-CSS Section----------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .hero-main {
        height: 94vh;
    }

    .hero-right {
        z-index: -1;
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .here-inner-left>.first-paragraph {
        margin: 0;
    }

    .here-inner-left {
        justify-content: center;
        margin-inline: 3rem;
        height: 100%;
    }

    .btn-wrapper {
        flex-direction: column;
        margin: 3rem 0 2rem 0;
    }

    .hero-right img {
        object-fit: cover;
    }

    .hero-main {
        margin-inline: 3rem;
    }

    .hero-left {
        width: 100%;
        margin-inline: 0;
    }

    .hero-left-top-header h1 {
        font-size: 3rem;
    }

    .hero-left-top-header {
        margin: 0 0 2rem 0;
    }

    .hero-ticker-elements {
        width: unset;
        gap: 2rem;
        margin-inline: -4rem;
        animation: scrollSmallScreens 15s linear infinite;
    }

    .hero-left .btn-download-primary,
    .btn-download-secondary {
        font-size: 1.1rem;
        width: 100%;
        transition: var(--transition-normal);
        justify-content: space-evenly;
    }

    .hero-left svg {
        scale: 1;
    }
}