// spacing values
// utility
@use 'sass:math'
@use "sass:map"

@function rem($px)
    @return math.div($px, 16) * 1rem

$space: (
    "auto": auto,
    "0":0,
    "1":rem(1),
    "1-6":rem(1.6),
    "2":rem(2),
    "4":rem(4),
    "5":rem(5),
    "6":rem(6),
    "8":rem(8),
    "10":rem(10),
    "11":rem(11),
    "12":rem(12),
    "14":rem(14),
    "16":rem(16),
    "20":rem(20),
    "24":rem(24),
    "26":rem(26),
    "28":rem(28),
    "32":rem(32),
    "36":rem(36),
    "40":rem(40),
    "44":rem(44),
    "48":rem(48),
    "50":rem(50),
    "56":rem(56),
    "60":rem(60),
    "64":rem(64),
    "66":rem(66),
    "70":rem(70),
    "72":rem(72),
    "80":rem(80),
    "96":rem(96),
    "100":rem(100),
    "120":rem(120),
    "140":rem(140),
    "150":rem(150),
    "200":rem(200),
    "280":rem(280),
    "300":rem(300),
    "9999":rem(999999),
)
$opacity-levels: (
    "0": 0,
    "5": 0.05,
    "10": 0.1,
    "20": 0.2,
    "30": 0.3,
    "40": 0.4,
    "50": 0.5,
    "60": 0.6,
    "70": 0.7,
    "80": 0.8,
    "90": 0.9,
    "100": 1
)
// index values
$z-indexes: (
    "-1": -1,
    "0": 0,
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "99999999": 99999999
    )
// font weights values
$font-weights: (
    "regular": 400,
    "medium": 550,
    "bold": 700,
)

$line-heights: (
    "caption":rem(20),
    "overline-small":rem(20),
    "label-xsmall": rem(16),
    "label-small": rem(20),
    "label-medium": rem(22),
    "label-large": rem(24),
    "body-xsmall": rem(20),
    "body-small": rem(24),
    "body-medium": rem(28),
    "body-large": rem(30),
    "heading-xsmall":rem(26),
    "heading-small":rem(28),
    "heading-medium":rem(34),
    "heading-mlarge":rem(44),
    "heading-large":rem(48),
    "heading-xlarge":rem(52),
    "display-small": rem(56),
    "display-medium": rem(68),
    "display-mlarge": rem(76),
    "display-large": rem(88),
    "display-xlarge": rem(112),
    "display-xxlarge": rem(144))

// font sizes values
$font-sizes: (
    "caption":rem(14),
    "overline-small":rem(14),
    "label-xsmall": rem(12),
    "label-small": rem(14),
    "label-medium": rem(16),
    "label-large": rem(18),
    "body-xsmall": rem(14),
    "body-small": rem(16),
    "body-medium": rem(18),
    "body-large": rem(20),
    "heading-xsmall":rem(18),
    "heading-small":rem(20),
    "heading-medium":rem(24),
    "heading-mlarge":rem(32),
    "heading-large":rem(36),
    "heading-xlarge":rem(40),
    "display-small": rem(44),
    "display-medium": rem(56),
    "display-mlarge": rem(64),
    "display-large": rem(72),
    "display-xlarge": rem(96),
    "display-xxlarge": rem(128))

$font-sizes-responsive: (
    "caption":rem(12),
    "overline-small":rem(12),
    "label-xsmall": rem(10),
    "label-small": rem(12),
    "label-medium": rem(14),
    "label-large": rem(16),
    "body-xsmall": rem(12),
    "body-small": rem(14),
    "body-medium": rem(16),
    "body-large": rem(18),
    "display-small": rem(40),
    "display-medium": rem(48),
    "display-mlarge": rem(56),
    "display-large": rem(64),
    "display-xlarge": rem(72),
    "display-xxlarge": rem(96))

// blur values
$blur-sizes: (
    "1": rem(1),
    "2": rem(2),
    "3": rem(3),
    "4": rem(4),
    "5": rem(5),
    "6": rem(6),
    "7": rem(7),
    "8": rem(8),
    "9": rem(9),
    "10": rem(10),
    )
// rotation values
$rotations: (
    0deg,
    45deg,
    90deg,
    180deg,
    270deg,
    360deg,
    -45deg,
    -90deg,
    -180deg,
    -270deg,
    -360deg
)
// color values
$colors: (
    "none":transparent,
    "transparent": transparent,

    "primary":#FAFBFC,
    "secondary": #E6E6E6,
    "tertiary": #ADB5A9,
    "quaternary-10": #67676710,
    "disabled": #B5BAC0,

    "ink-inverse": #FFFFFF,
    "ink-inverse-5": #FFFFFF05,
    "ink-inverse-10": #FFFFFF10,
    "ink-inverse-20": #FFFFFF20,
    "ink-inverse-40": #FFFFFF40,
    "ink-inverse-60": #FFFFFF60,
    "ink-inverse-80": #FFFFFF80,

    "ink": #1A1A19,
    "brand": #508D59,
    "ink-medium": #141414,
    "ink-light": #676767,
    "ink-5": #1A1A1905,
    "ink-10": #1A1A1910,
    "ink-20":#1A1A1920,
    "ink-30": #1A1A1930,
    "ink-40": #1A1A1940,
    "ink-60": #1A1A1960,
    "ink-80": #1A1A1980,

    "link": #0056D2,
    "error": #D64545,
    "success": #2A8652,

);
// max-width values
$max-widths: (
    "30": 30%,
    "50": 50%,
    "60": 60%,
    "80": 80%,
    "100": 100%,
    "100vw": 100vw,
    "40px": rem(40),
    "50px": rem(50),
    "60px": rem(60),
    "70px": rem(70),
    "80px": rem(80),
    "96px": rem(96),
    "100px": rem(100),  
    "120px": rem(120),  
    "134px": rem(134),   
    "150px": rem(150),   
    "200px": rem(200),
    "260px": rem(260), 
    "300px": rem(300),
    "350px": rem(350),
    "375px": rem(375),
    "428px": rem(428),
    "480px": rem(480),
    "500px": rem(500),
    "519px": rem(519),
    "560px": rem(560),
    "600px": rem(600),
    "691px": rem(691),
    "734px": rem(734),
    "750px": rem(750),
    "800px": rem(800),
    "880px": rem(880),
    "900px": rem(900),
    "973px": rem(973),
    "1200px": rem(1200),
    "1248px": rem(1248),
    "1400px": rem(1400),
);
// height-width values
$heights-widths: (
    "none": none,
    "auto": auto,
    "full": 100%,
    "inherit": inherit,
    "50": 50%,
    "60": 60%,
    "80": 80%,
    "100": 100%,
    "100dvh": 100dvh,
    "100wh": 100vw,

    "0": 0,
    "1px": rem(1),
    "2px": rem(2),
    "4px": rem(4),
    "6px": rem(6),
    "8px": rem(8),
    "10px": rem(10),
    "12px": rem(12),
    "14px": rem(14),
    "16px": rem(16),
    "20px": rem(20),
    "24px": rem(24),
    "28px": rem(28),
    "32px": rem(32),
    "34px": rem(34),
    "36px": rem(36),
    "40px": rem(40),
    "48px": rem(48),
    "60px": rem(60),
    "64px": rem(64),
    "70px": rem(70),
    "80px": rem(80),
    "100px": rem(100),
    "110px": rem(110),
    "120px": rem(120),
    "140px": rem(140),
    "150px": rem(150),
    "200px": rem(200),
    "220px": rem(220),
    "280px": rem(280),
    "288px": rem(288),
    "300px": rem(300),
    "320px": rem(320),
    "350px": rem(350),
    "400px": rem(400),
    "500px": rem(500),
    "600px": rem(600),
    "650px": rem(650),
    "665px": rem(665),
    "700px": rem(700),
    "736px": rem(736),
);
// min-width values
$min-widths: (
    "none": 0,
    "50": 50%,
    "40px": rem(40),
    "60px": rem(60),
    "96px": rem(96),
    "100px": rem(100),
    "120px": rem(120),
    "150px": rem(150),
    "168px": rem(168),
    "200px": rem(200),
    "248px": rem(248),
    "320px": rem(320),
    "400px": rem(400),
    "548px": rem(548),
);
// max-height values
$max-heights: (
    "none": none,
    "0": 0,
    "20px": rem(20),
    "64px": rem(64),
    "40px": rem(40),
    "80px": rem(80),
    "214px": rem(214),
    "300px": rem(300),
    "388px": rem(388),
    "400px": rem(400),
    "440px": rem(440),
    "500px": rem(500),
    "522px": rem(522),
    "582px": rem(582),
    "566px": rem(566),
    "648px": rem(648),
    "686px": rem(686),
    "700px": rem(700),
    "818px": rem(818),
    "920px": rem(920),
    "940px": rem(940),
    "1000px": rem(1000),
    "1096px": rem(1096),
);
// min-height values
$min-heights: (
    "none": none,
    "0": 0,
    "24px": rem(24),
    "40px": rem(40),
    "200px": rem(200),
    "300px": rem(300),
    "360px": rem(360),
    "400px": rem(400),
    "440px": rem(440),
    "500px": rem(500),
    "600px": rem(600),
);
