.skill-main {
  padding: 3rem 0;
  height: auto;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 6rem;
}
.skill-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}
.skill-wrapper-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill-top-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skill-top-header h1 {
  color: #fff;
  font-size: 2rem;
  font-family: sf-bold;
}
.skill-top-header h2{
  color: #fff;
  font-size: 1.2rem;
  font-family: sf-bold;  
  margin: 0;
}
.skill-extra{
  margin-left: 6rem;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .skill-main {
    margin-inline: 3rem;
    height:auto;
  }

  .skill-main h1 {
    font-size: 1.5rem;
  }
  .skill-top-header{
    height: auto;
  }
  .skill-top-header h2{
    font-size: 1rem;
    margin-block: 1rem;
  }
  .skill-extra{
    margin-left: 0;
  }
  
}