.latest-project-main {
    padding: 3rem 0;
    height: auto;
    height: 90vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.latest-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 6rem;
}

.latest-lef-right-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* padding-top: 3rem; */
}

.latest-top-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.latest-top-header h1 {
    color: var(--text--primary);
    font-size: 2rem;
    font-family: sf-bold;
}

.latest-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
}

.latest-left h1 {
    font-size: 2rem;
    font-family: sf-bold;
    color: var(--text--primary);
}

.latest-left h2 {
    font-size: 1.2rem;
    font-family: sf-regular;
    color: var(--text--sub-primary);
}

.latest-left p {
    font-size: 1rem;
    font-family: sf-regular;
    color: var(--text--secondary);
    margin: 0rem;
    width: 100%;
}

.latest-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

/* TODO fix the image size */
.latest-right img {
    width: auto;
    height: 70vh;
    object-fit: contain;
    margin: auto;

}

.latest-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.latest-tools h3 {
    font-size: 1rem;
    font-family: sf-thin;
    color: var(--text--secondary);
    margin: 0;
}

.tools-left h3,
.tools-right h3 {
    font-size: 1.2rem;
    font-family: sf-regular;
}

.tools-left {
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: var(--bg--tertiary);
    border-radius: 0.75rem;
}

.tools-right {
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg--tertiary);
    border-radius: 0.75rem;
}

.tools-middle {
    width: 42%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-middle-Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:0.2rem;
}

.tools-middle-top {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 0.3rem; */
}

.tools-middle-bottom {
    background: var(--bg--tertiary);
    border-radius: 0.563rem;
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.tools-middle-top-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.tools-middle-top-left,
.tools-middle-top-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background: var(--bg--tertiary);
    border-radius: 0.563rem;
    min-height: 40px;
}

.latest-left .btn-download {
    background-color: var(--color-main--primary);
    border: none;
    color: var(--text--primary);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    align-self: start;
    transition: var(--transition-normal);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: sf-regular;
    transition: var(--transition-normal);
    outline: 1px solid var(--color-main--tertiary-outline);
}

.btn-download:hover {
    background-color: var(--color-main--secondary);
    color: var(--text--primary);
    cursor: pointer;
}

.latest-left-bottom-btn-action {
    display: flex;
    flex-direction: column;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
    .latest-project-main {
        display: block;
    }

    .latest-wrapper {
        margin-inline: 3rem;
    }

    .latest-top-header h1 {
        font-size: 1.5rem;
    }
    .tools-middle-Wrapper{
        gap:0;
    }

    .latest-right {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        left: -30%;
    }

    .latest-right img {
        height: 68vh;
        margin: 0;
    }

    .latest-left {
        width: 50%;
        height: auto;
        position: absolute;
        right: 2rem;
    }

    .latest-left h1 {
        font-size: 1.2rem;
    }

    .latest-left p {
        font-size: 0.8rem;
    }

    .latest-left h2 {
        font-size: 0.9rem;
    }

    .latest-tools {
        align-items: stretch;
        height: auto;
        flex-direction: column;
    }

    .latest-tools h3 {
        font-size: 0.8rem;
    }

    .tools-left,
    .tools-middle,
    .tools-right {
        width: auto;
        /* margin-bottom: 0.2rem; */
        border-radius: 0.4rem;
    }
    .tools-left{
        margin-bottom: 0.2rem;
    }
    .tools-right{
        margin-top: 0.2rem;
    }
    .tools-middle-top-left,
    .tools-middle-top-right,
    .tools-middle-bottom {
        border-radius: 0.35rem;
        min-height: 40px;
    }

    .tools-middle-top {
        margin-bottom: 0.2rem;
    }   
    .latest-left-bottom-btn-action{
        width: 100%;
    }

    .latest-left .btn-download {
        color: var(--text--primary);
        padding: 10px 0;
        font-size: 1rem;
        width: 100%;
        transition: var(--transition-normal);
        /* justify-content: space-evenly; */
    }
    .btn-wrapper svg{
        scale: 1;
    }
    .latest-tools svg {
        scale: 0.8;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .latest-project-main {
        display: block;
    }

    .latest-wrapper {
        margin-inline: 3rem;
    }
    .tools-middle-Wrapper{
        gap:0;
    }

    .latest-top-header h1 {
        font-size: 2rem;
    }

    /* .latest-right {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        left: 2rem;
    } */

    .latest-right img {
        height: 68vh;
        margin: 0;
    }

    /* .latest-left {
        width: 40%;
        height: auto;
        position: absolute;
        right: 2rem;
    } */

    .latest-left h1 {
        font-size: 2rem;
    }

    .latest-left p {
        font-size: 1rem;
    }

    .latest-left h2 {
        font-size: 1.2rem;
    }

    .latest-tools {
        align-items: stretch;
        height: auto;
        flex-direction: column;
    }

    .latest-tools h3 {
        font-size: 1rem;
    }

    .tools-left,
    .tools-middle,
    .tools-right {
        width: auto;
        margin-bottom: 0.2rem;
    }

    .tools-middle-top {
        margin-bottom: 0.2rem;
    }

    .latest-left .btn-download {
        color: var(--text--primary);
        padding: 1rem 2rem;
        font-size: 1rem;
        width: auto;
        transition: var(--transition-normal);
        justify-content: space-evenly;
    }

    .latest-left svg {
        scale: 1;
    }
}

@media only screen and (min-width: 606px) and (max-width: 680px) {
    .latest-right {
        left: 0%;
    }
}
@media only screen and (min-width: 680px) and (max-width: 780px) {
    .latest-right {
        left: 5%;
    }
}