.latest-project-main {
    padding: 3rem 0;
    height: auto;
    height: 90vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.latest-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 6rem;
}

.latest-lef-right-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* padding-top: 3rem; */
}

.latest-top-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.latest-top-header h1 {
    color: #fff;
    font-size: 2rem;
    font-family: sf-bold;
}

.latest-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
}

.latest-left h1 {
    font-size: 2rem;
    font-family: 'sf-bold';
    color: #ffffff;
}

.latest-left h2 {
    font-size: 1.2rem;
    font-family: 'sf-regular';
    color: #eeeeee;
}

.latest-left p {
    font-size: 1rem;
    font-family: 'sf-regular';
    color: #b4b4b4;
    margin: 0rem;
    width: 100%;
}

.latest-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

/* TODO fix the image size */
.latest-right img {
    width: auto;
    height: 60vh;
    object-fit: contain;
    margin: auto;

}

.latest-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.latest-tools h3 {
    font-size: 1rem;
    font-family: sf-thin;
    color: #ffffff;
    margin: 0;
}

.tools-left h3,
.tools-right h3 {
    font-size: 1.2rem;
    font-family: sf-regular;
}

.tools-left {
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #1C1C1E;
    border-radius: 0.75rem;
}

.tools-right {
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1C1C1E;
    border-radius: 0.75rem;
}

.tools-middle {
    width: 42%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-middle-Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.tools-middle-top {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.tools-middle-bottom {
    background: #1C1C1E;
    border-radius: 0.563rem;
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.tools-middle-top-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tools-middle-top-left,
.tools-middle-top-right {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background: #1C1C1E;
    border-radius: 0.563rem;
}

.latest-left .btn-download {
    background-color: #007AFF;
    border: none;
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    align-self: start;
    transition: background-color 0.4s ease;
}

.btn-download:hover {
    background-color: #0056b3;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .latest-project-main {
        display: block;
    }

    .latest-wrapper {
        margin-inline: 3rem;
    }

    .latest-top-header h1 {
        font-size: 1.6rem;
    }

    .latest-right {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        left: -9rem;
    }

    .latest-right img {
        height: 68vh;
        margin: 0;
    }

    .latest-left {
        width: 50%;
        height: auto;
        position: absolute;
        right: 2rem;
    }

    .latest-left h1 {
        font-size: 1.3rem;
    }

    .latest-left p {
        font-size: 0.8rem;
    }

    .latest-left h2 {
        font-size: 0.9rem;
    }

    .latest-tools {
        align-items: stretch;
        height: auto;
        flex-direction: column;
    }

    .latest-tools h3 {
        font-size: 0.8rem;
    }

    .tools-left,
    .tools-middle,
    .tools-right {
        width: auto;
        margin-bottom: 0.2rem;
    }

    .tools-middle-top {
        margin-bottom: 0.2rem;
    }

    .latest-left .btn-download {
        color: #ffffff;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        width: auto;
        transition: background-color 0.4s ease;
        justify-content: space-evenly;
    }

    .latest-left svg {
        scale: 0.8;
    }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
    .latest-project-main {
        display: block;
    }

    .latest-wrapper {
        margin-inline: 3rem;
    }

    .latest-top-header h1 {
        font-size: 2rem;
    }

    .latest-right {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        left: 2rem;
    }

    .latest-right img {
        height: 68vh;
        margin: 0;
    }

    .latest-left {
        width: 40%;
        height: auto;
        position: absolute;
        right: 2rem;
    }

    .latest-left h1 {
        font-size: 2rem;
    }

    .latest-left p {
        font-size: 1rem;
    }

    .latest-left h2 {
        font-size: 1.2rem;
    }

    .latest-tools {
        align-items: stretch;
        height: auto;
        flex-direction: column;
    }

    .latest-tools h3 {
        font-size: 1rem;
    }

    .tools-left,
    .tools-middle,
    .tools-right {
        width: auto;
        margin-bottom: 0.2rem;
    }

    .tools-middle-top {
        margin-bottom: 0.2rem;
    }

    .latest-left .btn-download {
        color: #ffffff;
        padding: 1rem 2rem;
        font-size: 1rem;
        width: auto;
        transition: background-color 0.4s ease;
        justify-content: space-evenly;
    }

    .latest-left svg {
        scale: 1;
    }
}