.footer-main {
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    margin-top: 3rem;
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg--secondary);
}

.footer-main p {
    color: #8a8a8a;
    font-size: 0.6rem;
}

.footer-contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.footer-contact-icons a {
    transition: var(--transition-normal);
}

.footer-contact-icons a:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.footer-bottom-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.footer-bottom h2 {
    color: #fff;
    font-size: 1.5rem;
    margin: auto;
    padding: 1rem;
}

.footer-bottom p {
    color: #c8c8c8;
    font-size: 0.7rem;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}


.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.footer-top-right,
.footer-top-left {
    flex: 1;
    min-width: 300px;
    width: 300px;
    margin: 10px; /* or make it auto */
    overflow-y: auto; /* Allow vertical scrolling if content exceeds max-height */
}


@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .footer-main {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}