.footer-main {
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg--secondary);
}

.footer-main p {
    color: var(--text-footer);
}

.footer-contact-icons button {
    background: none;
    border: none;
    color: var(--text--primary);
    cursor: pointer;
    margin:0;
    padding: 0;
    transition: var(--transition-normal);
}

.footer-contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.footer-contact-icons a {
    transition: var(--transition-normal);
}

.footer-contact-icons a:hover,
.footer-contact-icons button:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.footer-bottom-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.footer-bottom h2 {
    color: var(--text--primary);
    font-size: 1.5rem;
    margin: auto;
    padding: 1rem;
}

.footer-bottom p {
    color: var(--text-footer-bottom);
    font-size: 0.7rem;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}


.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.footer-top-right,
.footer-top-left {
    flex: 1;
    min-width: 300px;
    width: 300px;
    margin: 10px;
    /* or make it auto */
    overflow-y: auto;
    /* Allow vertical scrolling if content exceeds max-height */
}

