.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 1.25rem;
    font-family: sf-regular;
}

.form-group.error .form-input,
.form-group.error .form-textarea {
    border: 1px solid tomato;
    box-shadow: 0 0 5px rgba(192, 53, 53, 0.5);
}

.notification {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: var(--color-main--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999999999999;
    
}

.notification-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.notification-timer {
    height: 5px;
    background: #388e3c;
    animation: shrink 2s linear forwards;
    border-radius: 0 0 5px 5px;
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.form-group {
    position: relative;
    margin-bottom: 0.938rem;
}

.form-label {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    color: #686868;
    font-size: 1rem;
    transition: var(--transition-fast);
    pointer-events: none;
}

.form-input,
.form-textarea {
    width: calc(100% - 20px);
    padding: 0.625rem;
    border: 1px solid var(--bg--tertiary);
    border-radius: 7px;
    font-size: 1rem;
    background: var(--bg--tertiary);
    color: var(--text--primary);
    outline: none;
    transition: var(--transition-fast);
}


.form-input:focus,
.form-textarea:focus {
    caret-color: var(--color-main--primary);
    /* box-shadow: 0 0 0 2px var(--color-main--primary); */
}

/* (TODO): fix the issue when out fill the form, the label is changing to white and the text background of label is gradient */
.form-input:focus+.form-label,
.form-textarea:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label,
.form-textarea:not(:placeholder-shown)+.form-label {
    top: -8px;
    left: 0.625rem;
    font-size: 0.75rem;
    color: var(--color-main--primary);
    background: linear-gradient(to bottom, #181818, #383838);
}

.form-textarea {
    resize: vertical;
    min-height: 155px;
}

.form-submit {
    background-color: var(--btn--primary);
    border: none;
    color: var(--bg);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    transition: var(--transition-normal);
    border-radius: 7px;
    font-family: sf-bold;
}

.form-submit:hover {
    background-color: var(--btn-primary-hover);
    cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .notification {
        top: 100px;
        right: 25px;
    }
}

